<div class="navbar">
    <ul>
      <li>Men</li>
      <li>Women</li>
      <li>Kids</li>
      <li>Contact Us</li>
      <li class="cart-icon" (click)="toggleCartPopup()">
        <i class="fas fa-shopping-cart"></i>
      </li>
    </ul>
  
    <div *ngIf="showCartPopup" class="cart-popup">
      <h3>Your Cart</h3>
      <ul>
        <li *ngFor="let item of cartItems; let i = index">
          {{ item.title }} - {{ item.price }}
          <button class="delete-btn" (click)="removeFromCart(i)">Delete</button>
        </li>
      </ul>
      <button (click)="toggleCartPopup()">Close</button>
    </div>
  </div>
  